#all_page
{
	width: 90%;
	padding-top: 100px;
	margin: auto;
}

#logo img
{
	width: 100px;
	height: 40px;
}
header h1
{
	font-size: 1.3em;
}
nav ul
{
	list-style-type: none;
	display: flex;
}
nav li
{
	margin-right:60px;
}
nav a
{
	text-decoration: none;
	color: blue;
	
}

nav a:focus
{
	border: 3px blue solid;
	padding: 20px;
	border-style: solid none none none;
}

nav a:visited
{
	/*color: black;*/
}

header
{	
	font-family: Raleway-medium, sans-serif;
	display: flex;
	justify-content: space-between;
}
nav
{
	display: flex;
	flex-direction: row;
}
@font-face
{
    font-family: 'raleway-medium';
    src: url('raleway-1/raleway-medium.ttf')format('truetype');
    font-weight: normal;
    font-style: normal;
}