/*Les couleurs de la charte sont le
 bleu #0065FC, et sa version plus claire
  #DEEBFF ainsi que 
  le gris pour le fond #F2F2F2.*/

/*la barre de recherche*/
form
{
	display: flex;
}
form i
{
  background: #F2F2F2;
  border: 2.7px #F2F2F2 solid;
  border-radius: 5px 0px 0px 5px;
}
#search, #filtre,.hotel_n
{
	font-weight: bold;
}
 
#rechercher
{
	border-radius: 0px 10px 10px 0px;
	color: white;
	background: #0065FC;
	border: 2px #0065FC solid;
}
/*filtre css*/

#filtre ul
{
	list-style-type: none;
	display: flex;
}
#filtre
{
	display: flex;
}
#filtre i
{   background: #DEEBFF;
	color: #0065fc;
	padding: 8px;
	border-radius: 16px;
}
#filtre li
{
	margin-right: 70px;
	border: 1px solid lightgrey;
	border-radius: 20px;
	
	vertical-align: 
}
/*css section*/

#hebergement
{
	background:#F2F2F2;
	width: 60%;
	padding: auto; 
	border-radius: 15px;
}
#hebergement h1
{
	font-size: 1.3em;
	padding-top: 15px;
	padding-left: 20px;
}
#contenu
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	
	align-items: space-between;
}
section img
{
width: 100%;
border-radius: 15px 15px 0 0;	
height: 120px;
}

section
{	
	border: 3px solid white;
	background: white;
	width: 25%;
	border-radius: 15px;
	margin-bottom: 20px;

	
}
.one
{
	margin-top: 0px;
}
section i
{
	color: #0065FC;
}
#quantity i
{
	color: white;
	border: 1px solid #F2F2F2;
	background:radial-gradient(#0065FC, #F2F2F2 ,#F2F2F2);
	border-radius: 50%;
	padding: 0px;
}










/*précédent*/
#all_page
{
	width: 90%;
	padding-top: 100px;
	margin: auto;
}

#logo img
{
	width: 100px;
	height: 40px;
}
header h1
{
	font-size: 1.3em;
}
nav ul
{
	list-style-type: none;
	display: flex;
}
nav li
{
	margin-right:60px;
}
nav a
{
	text-decoration: none;
	
	
}

nav a:focus
{
	border: 3px blue solid;
	padding: 20px;
	border-style: solid none none none;
}

nav a:visited
{
	/*color: black;*/
}

header
{	
	font-family: Raleway-medium, sans-serif;
	display: flex;
	justify-content: space-between;
}
nav
{
	display: flex;
	flex-direction: row;
}

body
{
	font-family: Raleway-medium, sans-serif;
}
@font-face
{
    font-family: 'raleway-medium';
    src: url('raleway-1/raleway-medium.ttf')format('truetype');
    font-weight: normal;
    font-style: normal;
}